<!-- .hero -->
<section class="hero has-background-black">
    <div class="hero-body">
        <div class="columns is-centered">

            {{#each dow}}
            {{#each this}}
            <div class="column is-one-third has-text-centered">
                <span id="titleS">Dow Jones</span><br>
                <span class="statC price">Price: {{[05. price]}}</span><br>
                <span class="statC change">Change: {{[10. change percent]}}</span><br>
                <span class="statC openS"> Open: {{[02. open]}}</span><br>
                <span class="statC closeS">Previous Close: {{[08. previous close]}}</span><br>
            </div>
            {{/each}}
            {{/each}}

            {{#each nasdaq}}
            {{#each this}}
            <div class="column is-one-third has-text-centered">
                <span id="titleS">Nasdaq</span> <br>
                <span class="statC price">Price: {{[05. price]}}</span><br>
                <span class="statC change"> Change: {{[10. change percent]}}</span><br>
                <span class="statC openS">Open: {{[02. open]}}</span><br>
                <span class="statC closeS">Previous Close: {{[08. previous close]}}</span><br>
            </div>
            {{/each}}
            {{/each}}

            {{#each snp}}
            {{#each this}}
            <div class="column is-one-third has-text-centered">
                <span id="titleS">S &amp; P 500</span> <br>
                <span class="statC price">Price: {{[05. price]}}</span><br>
                <span class="statC change">Change: {{[10. change percent]}}</span><br>
                <span class="statC openS">Open: {{[02. open]}}</span><br>
                <span class="statC closeS">Previous Close: {{[08. previous close]}}</span><br>
            </div>
            {{/each}}
            {{/each}}

        </div>
    </div>
</section>
<!-- /.hero -->
​
<!-- /.section -->
<section class="section">
    <div class="container">
        <div class="columns grid-xl">
            <div class="column is-half">
                {{#each stocks}}
                {{#each this}}
                <div class="notification is-light has-background-grey-lighter">
                    <button class="delete deleteSymbolBtn" data-id="{{[01. symbol]}}"></button>
                    <strong id="title2">{{[01. symbol]}}</strong>
                    <p id="price2">Price: {{[05. price]}}</p>
                    <p id="change2">Change: {{[10. change percent]}}</p>
                    <p id="openS2">Open: {{[02. open]}}</p>
                    <p id="closeS2">Previous Close: {{[08. previous close]}}</p>
                </div>
                {{/each}}
                {{/each}}
            </div>
            <div class="column is-half">
                <!--tradingview-widget-->
                <div class="tradingview-widget-container">
                    <div id="tradingview_c114c"></div>
                    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/"
                            rel="noopener" target="_blank"><span class="blue-text">AAPL Chart</span></a> by TradingView
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.section -->
​
<div class="block">
    <article class="message is-dark">
        <div class="message-header has-text-weight-bold">
            <h3 class="title is-3 has-text-white">News</h3>
        </div>
    </article>
    {{#each news}}
    <div class="message-body">
        {{#each this.data}}
        <a href="{{this.news_url}}" target="_blank">
            <h4 class="title is-5">{{this.title}}</h4>
        </a>
        <p>{{this.text}}</p>
        <p class="is-size-6 has-text-grey">{{this.source_name}} ::: <spanclass="is-size-6 has-text-grey-light">{{this.date}}</span></p>
        <hr>
        {{/each}}
    </div>
    {{/each}}
</div>